*.png
*.jar
*.class

nim/karax_test/karax/
nim/karax_test/public/karax_test.js
nim/karax_file/public/karax_file.js
*/node_modules/

npm/.envrc
go/peg/configfile/configifle
go/peg/configfile/grammer.peg.go