<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="AdobeAIR" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="cmder" />
  <package id="ConEmu" />
  <package id="Emacs" />
  <package id="evernote" />
  <package id="Firefox" />
  <package id="flashplayeractivex" />
  <package id="flashplayerplugin" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="gnuwin32-coreutils.install" />
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="graphviz" />
  <package id="intellijidea-community" />
  <package id="javaruntime" />
  <package id="jdk8" />
  <package id="jre8" />
  <package id="kotlinc" />
  <package id="krita" />
  <package id="libreoffice" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="plantuml" />
  <package id="python" />
  <package id="python3" />
  <package id="ruby" />
  <package id="slack" />
  <package id="strawberryperl" />
  <package id="vcredist2010" />
  <package id="vim" />
</packages>
